<!DOCTYPE html>
<html ng-app="mapnote">
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="./bower_components/lodash/dist/lodash.underscore.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="mapnote.css">
  </head>
  <body>
    <h2>mapnotenow<h2>
    <div ng-controller="MapNoteController">
      <google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
        <markers models="inputMarkers" coords="'coords'" options="'options'">
        </markers>

          <window ng-repeat="markers in inputMarkers" coords="markers.coords" show="'show'">
            <div>{{markers.title}}</div>
          </window>

        <marker coords="marker.coords" options="marker.options" events="marker.events" idKey="marker.id">
          <!-- <window show="marker.show">
            <form ng-submit="addToList()">
              <div>
                <input type="text" placeholder="memo" ng-model="listInput">
                <input type="submit" value="add">
              </div>
            </form>
          </window> -->
        </marker>

      </google-map>    
      <div>
        <!-- <div ng-repeat="note in list" ng-click="removeFromList()"> -->
        <div>{{message}}</div>
        <form ng-submit="addToList()">
          <div>
            <input type="text" placeholder="note" ng-model="listInput">
            <input type="submit" value="add">
          </div>
        </form>

        <div ng-repeat="marker in inputMarkers" ng-click="removeFromList()">
          {{$index + 1}} {{marker.title}}
        </div>
      </div>
    </div>
  </body>
</html>
