<!DOCTYPE html>
<html ng-app="mapnote">
  <head>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="./bower_components/lodash/dist/lodash.underscore.min.js"></script>
    <script src="./bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="mapnote.css">
  </head>
  <body>
    <h2>mapnotenow<h2>
    <div ng-controller="MapController">
      <google-map center="map.center" zoom="map.zoom" draggable="true">
        <marker idKey="marker.id" coords="marker.coords" options="marker.options" event="marker.events">
        </marker>
      </google-map>
    </div>    
    <div ng-controller="NoteController">
      <div ng-repeat="note in list" ng-click="removeFromList()">
        {{$index + 1}} {{note.content}}
      </div>
      <form ng-submit="addToList()">
        <div>
          <input type="text" placeholder="name" ng-model="listInput">
          <input type="submit" value="add">
        </div>
      </form>
    </div>

  </body>
</html>
